<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/luxon.min.js') }}"></script>
    <title>Time App</title>
</head>

<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"></svg>
                <span class="fs-4">Current time in <span id='timezone'></span> timezone</span>
            </a>
        </header>
        <div class="d-flex justify-content-center">
            <h1 id='time'></h1>
        </div>
    </div>

</body>

<script>
    let DateTime = luxon.DateTime;
    let timeText = document.getElementById('time');
    let zoneText = document.getElementById('timezone');
    let timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;

    function updateTime() {
        timeText.textContent =
            DateTime.now().setZone(timeZone).toLocaleString(DateTime.TIME_WITH_SECONDS);
    }

    zoneText.textContent = timeZone;
    setInterval(updateTime, 1000);
</script>

</html>